#run_pandeia{
    font-weight:bold;
    background-color:#eeba0b;
    color:#FFFFFF;
    border-color:#cc9c00;
}

#run_pandeia:hover{
    color:#000000;
    background-color:#ffc60a;
    border-color:#eeba0b;
}

.warning {
    color: #ffa500;
    font-weight: bold;
}

.danger {
    color: red;
    font-weight: bold;
}

