project:
  type: website
  output-dir: _site

execute:
  freeze: auto

# tell quarto to read the generated sidebar
#metadata-files:
#  - _sidebar.yml

format:
  html:
    theme:
      light: cosmo
    toc: true
    toc-location: left

website:
  page-navigation: true
  title: "Gen TSO"
  description: "A graphical ETC interface for time-series observations"
  repo-url: https://github.com/pcubillos/gen_tso
  favicon: "images/gen_tso_favicon.png"
  back-to-top-navigation: true

  page-footer:
    left: "&copy; CC-By Patricio Cubillos, 2025"
    right: "This page is built with [Quarto](https://quarto.org/)."

  sidebar:
    logo: "images/gen_tso_logo.png"
    #subtitle: "Version 0.0.0"
    pinned: true
    align: center
    style: "docked"
    background: "#F9F9F9"

    contents:
    - text: "Version {{< var version >}}"

  # Add links to the top
  navbar:
    background: "#F2F2F2"
    pinned: true
    left:
    - file: install.qmd
      text: Installation
    - file: get_started.qmd
      text: Get started
    - file: tutorials.qmd
      text: Tutorials
    - text: API
      href: api

    tools:
      - icon: github
        menu:
          - text: Source Code
            href:  https://github.com/pcubillos/gen_tso
          - text: Report a Bug
            href:  https://github.com/pcubillos/gen_tso/issues

