on:
  push:
    branches:
      - master
      - docs
  workflow_dispatch:


name: Render and Publish

# you need these permissions to publish to GitHub pages
permissions:
    contents: write
    pages: write
    id-token: write


# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  render-deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Jupyter
        run: |
          python -m pip install --upgrade pip
          pip install jupyter
          pip install ipykernel

          # Ensure the python3 kernel is installed
          python -m ipykernel install --user --name=python3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install quartodoc
          #python -m pip install flake8 pytest
          pip install -r requirements.txt
          pip install -r docs/requirements.txt

      - name: Install package
        run: |
          python -m pip install -e .

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Compile docstrings with quartodoc
        shell: bash
        run: |
          pushd docs; make doc; popd

      - name: Render
        uses: quarto-dev/quarto-actions/render@v2
        with:
          path: 'docs'

      - name: Setup Pages
        uses: actions/configure-pages@v2

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          # Upload quarto render output directory
          path: 'docs/_site'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1

      # add software dependencies here and any libraries

      # See more at https://github.com/quarto-dev/quarto-actions/blob/main/examples/example-03-dependencies.md

